@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    max-width: 350px;
    width: 350px;
    padding: 40px 20px 20px 20px;
    background-color: $background-sec-red;

    .player {
        flex-grow: 1;
    }
}