$background-dark-red: #461220;
$background-sec-red: #8C2F39;
$main-red: #B23A48;
$main-sec-red: #FCB9B2;
$main-light-red: #FED0BB;

$black-transparent-30: #0000004D;
$black-transparent-20: #00000033;
$black-transparent-03: #00000008;
$black-transparent-70: #000000b3;
